{{ define "main" }}

<div class="max-w-4xl p-4 mx-2 md:mx-auto mt-16">
    <div x-data="mailbox"
        @keydown.escape="showModal = false; open = -1"
        class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-6 md:gap-x-6 lg:gap-x-8 font-mono">
        <template x-for="[id, letter] in Object.entries(letters)"
            :key="letter.id">
            {{/* <a :href="letter.href"
                */}}
                <a
                @click="showModal = true; open = letter.id;"
                class="flex flex-col p-4 border rounded-2xl shadow">
                <div class="flex justify-end">
                    <img loading="lazy"
                        :src="'/mailbox/stamps/'+letter.stamp+'.png'"
                        height="86"
                        width="86">
                </div>
                <p x-text="letter.summary"
                    class="h-20 my-2 overflow-hidden text-sm"></p>
                <h2 x-text="letter.category"
                    class="text-lg"></h2>
                <p x-text="letter.date[0]"
                    class="-mt-2 text-base"></p>
            </a>
        </template>

        <div class="overflow-auto"
            x-cloak
            style="background-color: rgba(0,0,0,0.5)"
            x-show="showModal"
            :class="{ 'overflow-auto fixed inset-0 z-10 flex items-center justify-center': showModal }">

            <!--Dialog-->
            <div class="relative bg-white w-11/12 max-w-2xl mx-auto mt-4 rounded shadow-lg p-4 text-left"
                x-transition
                x-show="showModal"
                @click.away="showModal = false; open = -1;">

                <!--Title-->
                <div class="flex items-start justify-between p-4 border-0">
                    <div class="flex flex-wrap w-full p-0 m-0">
                        <div class="relative flex-grow basis-0 w-full max-w-full"></div>
                        <div class="relative text-right -mr-4 p-0 basis-0 flex-grow w-full">
                            <div class="inline-block text-center align-middle bg-transparent">
                                <img class="bg-transparent"
                                    :src="'/mailbox/stamps/'+letters[open].stamp+'.png'"
                                    width="100"
                                    height="100">
                            </div>
                            <div
                                class="absolute w-[200px] h-[70px] right-[64px] bottom-[-15px] pt-[22px] pr-[22px] text-[20px] leading-[26px] font-serif text-[#ffc300] text-right">
                                <div class="absolute w-[200px] h-[70px] bg-right bg-contain bg-no-repeat left-0 top-0"
                                    style="background-image: url(https://zhou-couple.github.io/assets/images/stamps/chop.png)">
                                </div>
                                CN
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content -->
                <div class="relative overflow-auto h-[50vh]">
                    <div x-html="(await axios.get(letters[open].href)).data" class="pb-12 px-4 text-lg font-medium">
                    </div>
                </div>
                <!--Footer-->
                <div class="flex-grow flex items-end mt-2">
                    <img class="rounded-[50%]"
                        :src="'https://zhou-couple.github.io/assets/images/letter-img/'+letters[open].category+'.png'"
                        width="60"
                        height="60">
                    <div class="ml-4 mr-4 mt-2 flex-grow flex-shrink basis-0">
                        <h5 class="mb-1 text-lg" x-text="letters[open].category"></h5>
                        <p x-text="letters[open].date[0]+' '+letters[open].date[1]"></p>
                    </div>
                    <button class="modal-close bg-gray-200 p-3 rounded-lg text-white hover:bg-gray-600"
                        @click="showModal = false">
                        <svg class="fill-current text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <!--/Dialog -->
        </div><!-- /Overlay -->
    </div>
</div>


<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('mailbox', () => ({
            showModal: false,
            open: -1,
            letters: {
                {{ range $index, $letter:= (where $.Site.RegularPages "Section" .Section) -}}
        {{ $index }} : { id: {{ $index }}, href: "{{ .RelPermalink }}", stamp: "{{ $letter.Params.stamp }}", summary: "{{ $letter.Summary | truncate 45 }}", category: "{{ $letter.Params.category }}", date: ["{{ $letter.Date | time.Format "2006年1月2日" }}", "{{ $letter.Date | time.Format "15:04" }}"]},
        {{ end }}
            }
        }))
    });
</script>
{{ end }}