<div class="whitespace-pre-wrap break-words">
    {{- .Content -}}
</div>

{{/* https://www.markusantonwolf.com/blog/guide-for-different-ways-to-access-your-image-resources/ */}}

{{ with .Params.img }}
<div class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto">
    {{ range $img := . }}
    {{ range where $.Site.Pages ".Section" "mailbox" }}
    {{ with (printf "%s.jpg" $img | .Page.Resources.GetMatch) }}
    {{ $thumb_img := .Resize "x128 webp" }}
    <div x-data="{click: false}"
        class="shrink-0">
        <img @click="click = !click"
            class="shrink w-auto rounded-lg h-32 shadow-md"
            src="{{ $thumb_img.RelPermalink }}">
        <div x-show="click"
        x-transition:enter=""
            @click="click = !click"
            @click.away="click = false;"
            class="h-full w-full flex justify-center p-4 pt-20 fixed z-50 inset-0 transition-all"
            style="background-color: rgba(0, 0, 0, 0.5);">
            <img class="rounded-xl object-contain"
                loading="lazy"
                src="{{ .RelPermalink }}">
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}